.work {
  display: flex;
}
.work__item {
  position: relative;
  width: 370;
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.work__text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
  background-color: var(--background-work-color);
}
