.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.nav__link {
  display: block;
  position: relative;
  transition: color 250ms var(--cubic);

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  @media screen and (max-width: 768px) {
    &--current {
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    &--current {
      color: var(--accent-color);
      &::after {
        position: absolute;
        content: '';
        height: 4px;
        left: 0;
        right: 0;
        bottom: -1px;

        background: #2196f3;
        border-radius: 2px;
      }
    }
  }
}
