.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__icons {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill var(--timing);
  }
}
.social-media__icons {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.soc-footer__link {
  transition: background-color 250ms var(--cubic);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.soc-footer__item + .soc-footer__item {
  margin-left: 10px;
}

.social-media__link {
  width: 44px;
  height: 44px;

  color: var(--social-links-color);
  background-color: var(--white-color);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--timing);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-media__item + .social-media__item {
  margin-left: 10px;
}

.social-media__icons {
  width: 20px;
  height: 20px;
  fill: var(--social-links-color);
  transition: fill var(--timing);
}

.social-media__link:hover .social-media__icons,
.social-media__link:focus .social-media__icons {
  fill: #ffffff;
}
