:root {
  --main-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color-text: #ffffff;
  --background: #2f303a;
  --address-links-footer: rgba(255, 255, 255, 0.6);
  --bacground-button: #f5f4fa;
  --bacground-shelf-card: #ffffff;
  --border-shelf-card: #eeeeee;
  --bacground-team: #f5f4fa;
  --social-links-color: #afb1b8;
  --customers-logo-color: #afb1b8;
  --background-work-color: rgba(47, 48, 58, 0.8);
  --timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-mobile-menu: white;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
